
@{
    Layout = null;
}
<!Doctype html>
<html>
<head>
    <meta name="viewport" content="width=device-width"/>
    <title>Add New Category</title>
</head>
<body>
    <div>

    </div>
</body>
</html>


