
@{
    Layout = null;
}
<!Doctype html>
<html>
<head>
    <meta name="viewport" content="width=device-width"/>
    <title>Add New Category</title>
    <link href="~/Content/bootstrap.min.css" rel="stylesheet"/>
    <script src="~/Scripts/jquery-3.4.1.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
</head>
<body>
    <div>
        <button class="btn btn-primary">Add New Category</button>
    </div>
</body>
</html>


